@{
    ViewData ["Title"] = "Vitrine";
}
<h1>Acompanhe nossos princpais pacotes abaixo!</h1>

<div style="display: flex;">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.vaipradisney.com/blog/wp-content/uploads/2021/06/disney-aniversario-50-anos-capa.jpg" alt="Disney">
    <div class="card-body">
      <h5 class="card-title">Disney</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque maxime provident animi corporis possimus hic dolores nulla impedit aliquam laudantium pariatur temporibus dignissimos officiis ex, consectetur ea a corrupti! Obcaecati?</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Fernando_de_Noronha_-_vista_aera.jpg" alt="Fernando de Noronha">
    <div class="card-body">
      <h5 class="card-title">Fernando de Noronha</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque maxime provident animi corporis possimus hic dolores nulla impedit aliquam laudantium pariatur temporibus dignissimos officiis ex, consectetur ea a corrupti! Obcaecati?</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.eurodicas.com.br/wp-content/uploads/2019/06/capital-da-espanha.jpg" alt="Madrid">
    <div class="card-body">
      <h5 class="card-title">Madrid</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque maxime provident animi corporis possimus hic dolores nulla impedit aliquam laudantium pariatur temporibus dignissimos officiis ex, consectetur ea a corrupti! Obcaecati?</p>
    </div>
  </div>
</div>